<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\SegRol[]|\Cake\Collection\CollectionInterface $segRol
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Seg Rol'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="segRol index large-9 medium-8 columns content">
    <h3><?= __('Seg Rol') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('ID_ROL') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($segRol as $segRol): ?>
            <tr>
                <td><?= h($segRol->ID_ROL) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $segRol->ID_ROL]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $segRol->ID_ROL]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $segRol->ID_ROL], ['confirm' => __('Are you sure you want to delete # {0}?', $segRol->ID_ROL)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
